@charset 'utf-8';

@keyframes{

}
/* webfont */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /* old versions of Opera */
}

body {
    background-color: #181818;

    font-family: "Pretendard Variable", Pretendard, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    color: #ffffff;
}

#wrap {
    overflow: hidden;
    min-width: 1400px;
}

#header {
    width: 1320px;
    margin: 30px auto;
    position: relative;
}

.nav {

    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0 50px;
}

.nav_left {

    display: flex;
}

.nav_right {
    display: flex;
}

.nav li a {
    display: block;
    padding: 0 10px;
    margin: 0 60px;
}

#header a img {
    position: absolute;
    top: -31px;
    left: 660px;
}

#banner .swiper mySwiper1 {
    width: 100%;
}

#banner .swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset, 50%);
    width: calc(var(--swiper-navigation-size) / 44* 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px -(var(--swiper-navigation-size) / 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

#banner .swiper-button-next:after,
#banner .swiper-rtl .swiper-button-prev:after {
    content: url(../images/main/main_vector_01.png);
}

#banner .swiper-slide {
    position: relative;
}

.btn_product {
    z-index: 999;
    display: inline-block;
    border: #ffffff 1px solid;
    border-radius: 50px;
    padding: 5px 13px;
}

.btn_product {
    position: absolute;
    top: 430px;
    left: 297px;
}

.text_box {
    font-size: 18px;
    letter-spacing: -5%;
    width: 385px;
    height: 317px;
    line-height: 162%;
    font-weight: 257;
    position: relative;
}

.text_box p {
    padding-bottom: 30px;

}

#container {
    width: 1320px;
    margin: 150px auto;
}

.contents_01 {
    display: flex;
    justify-content: space-between;
}

.btn_brandstory {
    position: absolute;
    top: 390px;
    left: 210px;
    z-index: 99;
    display: inline-block;
    border: #ffffff 1px solid;
    border-radius: 50px;
    padding: 3px 24px;
    
}
.btn_brandstory:hover{
transform: scale(1.05);
transition: all 0.7s;
background-color: white;
color: black;
font-weight: 380;


}
.img_box img {
    width: 675px;
    height: 477px;
    display: block;
}

.contents_02 {
    width: 1320px;
    margin: 150px auto;

}


.contents_01 .swiper {
    width: 70%;
    height: 100%;
}

.contents_01 .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.contents_01 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}

.swiper-pagination2 {
    width: 1320px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

.text_box2 p {
    letter-spacing: -0.5px;
    font-size: 15px;
    font-weight: 160;
    padding: 15px 0 30px 0;
}

.text_box2 h2 {
    text-shadow: #080808 0.5px 0.5px 0.1px;
}

.text_box2 {
    text-align: center;
    width: 1320px;
    margin: 0 auto;
}


.Signature_swiper .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    text-align: center;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}


.Signature_swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
}

.Signature_swiper .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.Signature_swiper .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 50px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 1.8px));
    border-radius: var(--swiper-pagination-bullet-border-radius, 0);
}

.Signature_swiper .swiper-pagination-bullet-active {
    background-color: #808080;
}

.Signature_swiper .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.contents_02 .swiper-slide img {
    width: 382px;
    height: 345px;
}

.product_name {
    font-size: 10px;
}

.product_name p {
    font-weight: 250;
    font-size: 12px;
}

/* swiper bp */

.contents_03 {

    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.swiper mySwiper3 {
    overflow: hidden;
}

.bp_swiper {
    width: 1620px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 26px;
}

.bp_swiper .swiper {
    width: 100%;
    height: 100%;
}

.swiper-horizontal>.swiper-pagination3-bullets,
.swiper-pagination3-bullets.swiper-pagination3-horizontal,
.swiper-pagination3-custom,
.swiper-pagination3-fraction {

    display: none;
}

.bp_swiper .swiper-slide img {
    display: block;
    width: 388px;
    height: 509px;
    object-fit: cover;
    position: relative;
}

.bp_text_box {
    padding: 50px;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

.bp_text_box h2 {
    font-size: 40px;
}

.bp_text_box p {
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 15px;
    padding: 24px 0;
}

.bp_btn a {
    font-weight: 300;
    margin-top: 17px;
    font-size: 17px;
    z-index: 999;
    display: inline-block;
    border: #ffffff 1px solid;
    border-radius: 43px;
    padding: 3px 23px;
}

.bp_swiper .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}



.bp_swiper .swiper-slide:hover .text_wrap {
   display: block;

}
.cover{
 
}

.text_wrap {
 
    padding: 120px 61px;
    text-align: center;
    width: 388px;
    height: 509px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(31, 30, 30, 0.8);
    box-sizing: border-box;
    display: none;
    
}



.text_wrap h2 {
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 20px;
}

.text_wrap p {
    letter-spacing: -1px;
    padding-top: 1px;
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: 200;
}

.diary_banner {

    margin-top: 880px;
    z-index: 9999999;
    background-image: url(../images/main/diary_bg.jpg);
    height: 354px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_content {
    padding: 143px 0;
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.banner_content p {
    width: 800px;
    letter-spacing: -1px;
    font-size: 35px;
    font-weight: 170;
    padding-bottom: 20px;
}

.banner_content span {
    font-weight: 400;
}

.diary_banner img {
    position: absolute;
    top: -245px;
    right: -300px;
}

.explore_stores {
    text-align: center;
    width: 1320px;
    margin: 150px auto;
}

.store_img {

    display: flex;
    justify-content: space-between;
}

.explore_stores h2 {
    padding-bottom: 60px;

}

.explore_stores p {
    padding-top: 11px;
    font-weight: 250;
}

.read_btn {
    font-weight: 300;
    margin-top: 50px;
    font-size: 17px;
    display: inline-block;
    border: #ffffff 1px solid;
    border-radius: 43px;
    padding: 3px 20px;
}

.keyring_banner {
    background-image: url(../images/main/keyring_banner_bg.jpg);
    height: 398px;
    background-position: center;
    background-repeat: no-repeat;
}

.keyring_text {

    width: 1320px;
    margin: 0 auto;
    padding-top: 115px;
}

.keyring_banner h2 {
    letter-spacing: 1px;
    font-weight: 450;
    font-size: 48px;
    margin-bottom: 35px;

}

.keyring_banner p {
    letter-spacing: -1px;
    font-weight: 150;
    font-size: 18px;
    padding-top: 8px;
}

.keyring_banner span {
    padding-top: 10px;
}

.p_wrap {
    padding-top: 36px;
}

#footer {
    width: 1320px;
    margin: 160px auto;
}

#footer h2 {
    letter-spacing: 1px;
    font-weight: 450;
    font-size: 70px;
    margin-bottom: 70px;
}

.footer_text_left {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 510px;
}

.footer_text_left ul li {
    font-size: 16px;
    font-weight: 200;
}

.footer_text_left h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer_text_right_position {
    position: relative;

}

.footer_text_right {
    width: 420px;
    position: absolute;
    top: -150px;
    left: 1012px;
}

.footer_text_right h3 {
    font-size: 44px;
    font-weight: 450;
}

.sns {
    margin-left: 140px;
    margin-top: 70px;
    display: flex;
}

.sns li a {
    display: block;
    padding: 0 3px 0 10px;
}