@charset 'utf-8';

@keyframes {}

/* webfont */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /* old versions of Opera */
}

body {
    background-color: rgb(40, 41, 41);
    font-family: "Pretendard Variable", Pretendard, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    color: #ffffff;
}

#wrap {
    overflow: hidden;
    min-width: 1400px;
}

#banner img {
    display: flex;
    justify-content: center;
    width: 100%;
}

#header {
    width: 1320px;
    margin: 30px auto;
    position: relative;
}

.nav {
    font-weight: 540;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0 50px;
}

.nav_left {

    display: flex;
}

.nav_right {
    display: flex;
}

.nav li a {
    display: block;
    padding: 0 10px;
    margin: 0 60px;
}

#header a img {
    position: absolute;
    top: -31px;
    left: 660px;
}

#banner_top{
    background-image: url(../images/sub3_store/video_img.jpg);
    background-repeat: no-repeat;
    height: 839px;
    background-position: center;
}

#container{
    text-align: center;
    width: 1320px;
    margin: 150px auto;
}
.title{
    font-weight: 550;
    text-align: center;
    font-size: 30px;
    text-shadow: #080808 0.5px 0.5px 0.1px;
   padding-bottom: 20px;
}

#container p{
    font-size: 15px;
    font-weight: 200;
}
.sp_products{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.sp_products p{
    margin-top: 10px;
}

.event_box{
    margin-top: 150px;
}
.event{
    margin-top: 60px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event h3{
    margin: 20px 0;
    font-weight:380;
    font-size: 27px;
}
.event p{
    margin-bottom: 55px;
    font-weight: 90;
    font-size: 15px;

}

#banner_bottom{
    background-image: url(../images/sub3_store/popup_banner\ 1.jpg);
    height: 398px;
    background-position: center;
    background-repeat: no-repeat;
}
 #footer {

    padding-top: 210px;
    width: 1320px;
    margin: 100px auto;
}



#footer h2 {

    letter-spacing: 1px;
    font-weight: 450;
    font-size: 70px;
    margin-bottom: 75px;
}

.footer_text_left {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 510px;
}

.footer_text_left ul li {
    font-size: 15px;
    font-weight: 200;
}

.footer_text_left h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_text_right_position {
    position: relative;

}

.footer_text_right {
    width: 420px;
    position: absolute;
    top: -150px;
    left: 1012px;
}

.footer_text_right h3 {
    font-size: 44px;
    font-weight: 450;
}

.sns {
    margin-left: 140px;
    margin-top: 70px;
    display: flex;
}

.sns li a {
    opacity: 0.5;
     padding: 0 3px 0 10px;
 }
 .sns li a:hover {
     opacity: 1;
     padding: 0 3px 0 10px;
 }
 
